# -*- coding: utf-8 -*-
"""
Created on Sun Nov 10 04:13:30 2019

@author: Dominic
"""

<html>

<body>

    <div class="container">
        <h1>FILE INPUT</h1>
        <form method="POST" action="/upload" enctype='multipart/form-data'>
            <div class="form-group">
                <label for = "inputFile">File input</label>
                <input type="file" name="inputFile">
            </div>
            <br>
                <button type="submit" class="btn btn-default"> Download Results </button>
            </br>
        </form>  
    </div>

</body>

<\html>